[Unit]
Description=Puma app server
Requires=network.target

[Service]
Type=simple
User={{redmine_user}}
Group={{redmine_user}}
WorkingDirectory={{redmine_root}}
ExecStart=/home/{{ redmine_user }}/.rbenv/bin/rbenv exec bundle exec puma -C {{ redmine_root }}/config/puma.rb
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
